{% extends 'formapp/base.html' %}

{% load crispy_forms_tags %}


{% block head_title %} Submit a form {% endblock %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <p align="center">
        <strong>Your choices</strong>
    </p>
    <form action="{% url 'formapp:home' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Submit">
        <a class="btn btn-primary" href="{% url 'formapp:home' %}">Cancel</a>
    </form>
</div>
{% endblock %}
