{% extends 'formapp/base.html' %}

{% load crispy_forms_tags %}


{% block head_title %} Update choice {% endblock %}


{% block content %}
<div class="col-sm-6 col-sm-offset-3">
    <p align="center">
        <strong>Your choices</strong>
    </p>
    <form action="{% url 'formapp:update' pk=shoppingchoice.pk %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" value="Save">
        <a class="btn btn-primary" href="{% url 'formapp:retrieve' pk=shoppingchoice.pk %}">Cancel</a>
    </form>
</div>
{% endblock %}
